.card-container{
  height: var(--card-height);
  width: var(--card-width);
  position: relative;
  touch-action: none;
  --tran-time: 300ms;
  --move-x: 0;
  --move-y: 0;
  /* box-sizing: border-box; */
}
.trans-animate{
    transition-property: transform;
    transition-duration: var(--tran-time);
    transition-timing-function: ease-in-out;
}
.side{
    backface-visibility: hidden;
    animation-duration: var(--tran-time);
    /* animation-delay: 1ms; */
    border-radius: .375em;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    transform: translateZ(-150px);
    /* background-color: #ebebeb; */
    /* padding: .25em; */
}
.front{
    background-color: #ebebeb;
    /* transform: translateZ(100px); */
}
.side.back{
    background-color: red;
    /* background-image: url("/tiles.png"); */
    background-size: contain; 
    border-radius: .375em;
    transform: rotateY(180deg);  
}
.animate .front{
    animation-name: flipFront;
}
.animate .back{
    animation-name: flipBack;
}
.hidden .back{
    transform: rotateY(360deg); 
}
.small{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: -.0625em;
    line-height: 1.1em;
    height: 40px;
    width: 19px;
    /* box-sizing: border-box; */
    /* padding-top: .25em;
    padding-left: .25em; */
}

.small.top{
    align-self: flex-start;
    /* transform: translateY(7px); */
    /* transform: translateZ(100px); */
    /* padding-top: .25em;
    padding-left: .25em; */
}

.small.bottom{
    transform: rotate(180deg);
    align-self: flex-end;
    /* padding-top: .25em;
    padding-left: .25em; */
}
.small-symbol{
  /* margin-top: -7px;  */
  /* line-height: 0.85em; */
  transform: translateY(2px);
  font-size: 0.8em; 

}

.middle{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 4em;
    line-height: 0.85em;   
    letter-spacing: -.0625em;
    padding-right: 5px; 
    /* margin: -.25em;
    margin-top: -.40em; */
}


@keyframes flipBack {
  0% {
    transform: translateZ(-150px) rotateY(0deg) scale(1);
  }
  33.3% {
    transform: translateZ(-100px) rotateY(0deg) scale(1.1);
  }
  66.6% {
    transform: translateZ(-100px) rotateY(180deg) scale(1.1);
  }
  100% {
    transform: translateZ(-150px) rotateY(180deg) scale(1);
  }
}

@keyframes flipFront {
  0% {
    transform: translateZ(-150px) rotateY(180deg) scale(1);
  }
  33.3% {
    transform: translateZ(-100px) rotateY(180deg) scale(1.1);
  }
  66.6% {
    transform: translateZ(-100px) rotateY(360deg) scale(1.1);
  }
  100% {
    transform: translateZ(-150px) rotateY(360deg) scale(1);
  }
}
